<ion-content>
  <h1 class="ion-text-center c-title">About Histamine Tracker</h1>
  <div class='c-impressum ion-text-center'>
    <p>
      <strong>Developed by: </strong><br>
      Jan Geicke<br>
    </p>
  </div>
  <div class='c-impressum ion-text-center'>
    <p>
      <strong>Food ingredient database: </strong><br>
      <a target="_blank" href="https://openfoodfacts.org/">Open Food Facts <ion-icon name="link-outline"></ion-icon></a><br>
    </p>
  </div>
  <div class='c-impressum ion-text-center'>
    <p>
      <strong>Information about food/ingredients containing histamine: </strong><br>
      <a target="_blank" href="https://www.histaminintoleranz.ch/downloads/SIGHI-Leaflet_HistamineEliminationDiet.pdf">SIGHI-Leaflet Histamine Elimination Diet <ion-icon name="link-outline"></ion-icon></a><br>
    </p>
  </div>
  <div class='c-impressum ion-text-center'>
    <p>
      <strong>Used technologies: </strong><br>
      <a target="_blank" href="https://ionicframework.com/">Ionic <ion-icon name="link-outline"></ion-icon></a><br>
      <a target="_blank" href="https://capacitorjs.com/">Capacitor <ion-icon name="link-outline"></ion-icon></a><br>
      <a target="_blank" href="https://angular.io/">Angular <ion-icon name="link-outline"></ion-icon></a><br>
  </div>
</ion-content>
