<ion-content>
  <h1 class="ion-text-center c-title">{{'ABOUT-US.about' | translate}} Histamine Tracker</h1>
  <div class='c-impressum ion-text-center'>
    <p>
      <strong>{{'ABOUT-US.developed' | translate}} </strong><br>
      Jan Geicke<br>
    </p>
  </div>
  <div class='c-impressum ion-text-center'>
    <p>
      <strong>{{'ABOUT-US.database' | translate}}</strong><br>
      <a target="_blank" href="https://openfoodfacts.org/">Open Food Facts <ion-icon name="link-outline"></ion-icon></a><br>
    </p>
  </div>
  <div class='c-impressum ion-text-center'>
    <p>
      <strong>{{'ABOUT-US.information' | translate}}</strong><br>
      <a target="_blank" href="https://www.histaminintoleranz.ch/downloads/SIGHI-Leaflet_HistamineEliminationDiet.pdf">SIGHI-Leaflet Histamine Elimination Diet <ion-icon name="link-outline"></ion-icon></a><br>
    </p>
  </div>
  <div class='c-impressum ion-text-center'>
    <p>
      <strong>{{'ABOUT-US.technologies' | translate}}</strong><br>
      <a target="_blank" href="https://ionicframework.com/">Ionic <ion-icon name="link-outline"></ion-icon></a><br>
      <a target="_blank" href="https://capacitorjs.com/">Capacitor <ion-icon name="link-outline"></ion-icon></a><br>
      <a target="_blank" href="https://angular.io/">Angular <ion-icon name="link-outline"></ion-icon></a><br>
  </div>
</ion-content>
