<ion-content>
  <h1 class="ion-text-center c-title">{{"PRIVACY.title" | translate}}</h1>
  <hr>
  <div class="ion-text-center c-text">
    <h2>{{"PRIVACY.personal-data" | translate}}</h2>
    <p class="c-text">{{"PRIVACY.personal-data-content" | translate}}</p>
    <h2>{{"PRIVACY.app-permissions" | translate}}</h2>
    <div [innerHTML]="'PRIVACY.app-permissions-content' | translate"></div>
    <h2>{{"PRIVACY.cookies" | translate}}</h2>
    <div [innerHTML]="'PRIVACY.cookies-content' | translate"></div>
    <h2>{{"PRIVACY.other-policies" | translate}}</h2>
    <div [innerHTML]="'PRIVACY.other-policies-content' | translate"></div>
    <h2>{{"PRIVACY.changes" | translate}}</h2>
    <div [innerHTML]="'PRIVACY.changes-content' | translate"></div>
    <h2>{{"PRIVACY.contact" | translate}}</h2>
    <div [innerHTML]="'PRIVACY.contact-content' | translate"></div>
    <h2>{{"PRIVACY.contact-authority" | translate}}</h2>
    <div [innerHTML]="'PRIVACY.contact-authority-content' | translate"></div>
  </div>
</ion-content>
