<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Privacy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h2>Personal data</h2>
    <p>Histamine Tracker does not collect any personal data. No personal data is needed for the app to work. If no personal data is collected, no data can be stolen, leaked or abused.
    This is the best way to protect the privacy of the app user.</p>
    <h2>App permissions</h2>
    <p>For the app to function properly a couple of permissions are needed:</p>
    <ul>
      <li><strong>Internet permission</strong> - to be able to access the OpenFoodFacts database for the ingredients of scanned products.</li>
      <li><strong>Camera permission</strong> - to be able to use the device camera for the barcode scans.</li>
    </ul>
    <p>These permissions can be limited to app runtime and are only used for the described purpose.</p>
    <h2>Cookies</h2>
    <p>Histamine Tracker does not use any tracking or identifying cookies.</p>
    <h2>Privacy policies of other websites</h2>
    <p>The Histamine Tracker app contains links to other websites.
      This privacy policy applies only to Histamine Tracker application, so if you click on a link to another website, you should read their privacy policy.</p>
    <h2>Changes to our privacy policy</h2>
    <p>Histamine Tracker keeps its privacy policy under regular review and places any updates on this page. This privacy policy was last updated on 23 June 2022.</p>
    <h2>How to contact me</h2>
    <p>If you have any questions about Histamine Tracker’s privacy policy, please do not hesitate to contact me.</p><br>

    Email me at: <a href="mailto:jangeicke@yahoo.de">jangeicke@yahoo.de</a>
    <h2>How to contact the appropriate authority</h2>
    <p>Should you wish to report a complaint or if you feel that Histamine Tracker has not addressed your concern in a satisfactory manner,
      you may contact the Information Commissioner’s Office.</p>
    <p>
      Der Hessische Beauftragte für Datenschutz und Informationsfreiheit<br>
      Postfach 3163<br>
      65021 Wiesbaden<br>

      Phone: +49 611 1408 - 0
    </p>
  </div>
</ion-content>
