<ion-content>
  <h1 class="ion-text-center c-title">{{"PRIVACY.title" | translate}}</h1>
  <hr>
  <div class="ion-text-center c-text">
    <!-- personal data -->
    <ion-card color="main-tertiary">
      <ion-card-header>
        <ion-card-title>{{"PRIVACY.personal-data" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>{{"PRIVACY.personal-data-content" | translate}}</ion-text>
      </ion-card-content>
    </ion-card>
    <!-- app permissions -->
    <ion-card color="main-tertiary">
      <ion-card-header>
        <ion-card-title>{{"PRIVACY.app-permissions" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text [innerHTML]="'PRIVACY.app-permissions-content' | translate"></ion-text>
      </ion-card-content>
    </ion-card>
    <!-- cookies -->
    <ion-card color="main-tertiary">
      <ion-card-header>
        <ion-card-title>{{"PRIVACY.cookies" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text [innerHTML]="'PRIVACY.cookies-content' | translate"></ion-text>
      </ion-card-content>
    </ion-card>
    <!-- other policies -->
    <ion-card color="main-tertiary">
      <ion-card-header>
        <ion-card-title>{{"PRIVACY.other-policies" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text [innerHTML]="'PRIVACY.other-policies-content' | translate"></ion-text>
      </ion-card-content>
    </ion-card>
    <!-- changes -->
    <ion-card color="main-tertiary">
      <ion-card-header>
        <ion-card-title>{{"PRIVACY.changes" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text [innerHTML]="'PRIVACY.changes-content' | translate"></ion-text>
      </ion-card-content>
    </ion-card>
    <!-- contact -->
    <ion-card color="main-tertiary">
      <ion-card-header>
        <ion-card-title>{{"PRIVACY.contact" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text [innerHTML]="'PRIVACY.contact-content' | translate"></ion-text>
        <ion-accordion-group class="ion-padding-top">
          <ion-accordion value="contact-form">
            <ion-item slot="header" color="main">
              <ion-label class="ion-text-center">{{"PRIVACY.contact" | translate}}</ion-label>
            </ion-item>
            <div class="ion-padding c-contact ion-text-center" slot="content">
              <form [formGroup]="contactForm" novalidate>
                <ion-item color="main-light">
                  <ion-label>{{"PRIVACY.contact-form-subject" | translate}}</ion-label>
                  <ion-input placeholder="{{'PRIVACY.contact-form-subject-placeholder' | translate}}" required="true" autocorrect="on" clearInput="true" formControlName="subject"></ion-input>
                </ion-item>
                <ion-item color="main-light">
                  <ion-label>{{"PRIVACY.contact-form-content" | translate}}</ion-label>
                  <ion-textarea placeholder="{{'PRIVACY.contact-form-content-placeholder' | translate}}" rows="10" required="true" formControlName="content"></ion-textarea>
                </ion-item>
              </form>
              <div class="c-validation-errors ion-margin-top">
                <ng-container *ngFor="let validation of validationMessages.subject">
                  <div class="c-error-message" *ngIf="contactForm.get('subject').hasError(validation.type) && (contactForm.get('subject').dirty || contactForm.get('subject').touched)">
                    - {{ validation.message }}
                  </div>
                </ng-container>
                <ng-container *ngFor="let validation of validationMessages.content">
                  <div class="c-error-message" *ngIf="contactForm.get('content').hasError(validation.type) && (contactForm.get('content').dirty || contactForm.get('content').touched)">
                    - {{ validation.message }}
                  </div>
                </ng-container>
                <ng-container>
                  <div class="c-error-message" *ngIf="!this.hasClient && this.clickedSendMail">
                    - {{"PRIVACY.contact-form-no-client" | translate}}
                  </div>
                  <div class="c-error-message" *ngIf="!this.hasAccount && this.clickedSendMail">
                    - {{"PRIVACY.contact-form-no-account" | translate}}
                  </div>
                </ng-container>
              </div>
              <ion-button class="ion-margin-top" color="main-button" (click)="contact(contactForm.get('subject').value, contactForm.get('content').value)" type="submit">
                {{"PRIVACY.contact-form-send-mail" | translate}}
              </ion-button>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
    <!-- contact authority -->
    <ion-card color="main-tertiary">
      <ion-card-header>
        <ion-card-title>{{"PRIVACY.contact-authority" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text [innerHTML]="'PRIVACY.contact-authority-content' | translate"></ion-text>
        <br>
        <ion-text [innerHTML]="'PRIVACY.contact-authority-address' | translate"></ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
