.c-icon{
  font-size: 128px;
}

.c-list{
  padding-bottom: 5vh;
  background-color: var(--ion-color-main-tertiary);
}

.c-histamine-ingredients{
  border: 1px solid black;
}

.c-histamine-ingredients-content{
  background-color: var(--ion-color-main-light);
}

.c-histamine-accordion{
  background-color: var(--ion-color-main-tertiary);
}
