<ion-header>
  <ion-toolbar color="main-secondary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="ion-justify-content-center c-setting-content">
  <ion-list class="c-list">
    <ion-item color="main-light" *ngFor="let i of openFoodFacts.getHistamineIngredients()">{{i.replace('-', ' ')}}</ion-item>
  </ion-list>
  <ion-button color="main-button" class="c-add-button" (click)="toggleModal()">
    <ion-icon name="add-circle-outline" color="light"></ion-icon>
  </ion-button>
</ion-content>
<ion-modal [isOpen]="isModalShowing">
  <ng-template>
    <ion-header>
      <ion-toolbar color="main" class="ion-text-center">
        <ion-title>Add Histamine Ingredient</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="main-secondary" class="ion-justify-content-center ion-text-center">
      <form [formGroup]="ionicForm" novalidate>
        <ion-item color="main-light">
          <ion-label>Name:</ion-label>
          <ion-input placeholder="e.g. carrot" required="true" autocorrect="on" clearInput="true" formControlName="name"></ion-input>
        </ion-item>
      </form>
      <div class="c-validation-errors">
        <ng-container *ngFor="let validation of validationMessages.name">
          <div class="c-error-message" *ngIf="ionicForm.get('name').hasError(validation.type) && (ionicForm.get('name').dirty || ionicForm.get('name').touched)">
            - {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-button color="main-button" (click)="addIngredient(this.ionicForm.get('name').value)" type="submit">
        Save
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
