<ion-header>
  <ion-toolbar color="main-secondary">
    <ion-title>{{'SETTINGS.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="ion-justify-content-center c-setting-content">
  <ion-title class="ion-margin-vertical">{{'SETTINGS.language' | translate}}</ion-title>
  <ion-list class="c-list">
    <ion-radio-group class="c-list" value="{{languageService.getSelectedLanguage()}}" (ionChange)="this.languageService.setLanguage($event.detail.value)">
      <ion-item color="main-light">
        <ion-label>English</ion-label>
        <ion-radio color="main-button" slot="start" value="en"></ion-radio>
      </ion-item>
      <ion-item color="main-light" lines="none">
        <ion-label>Deutsch</ion-label>
        <ion-radio color="main-button" slot="start" value="de"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-title class="ion-margin-vertical">{{'SETTINGS.ingredients' | translate}}</ion-title>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="main-tertiary">
        <ion-label>{{'SETTINGS.basic' | translate}}</ion-label>
      </ion-item>
      <div class="ion-padding c-list" slot="content">
        <ion-list class="c-list">
          <ion-item color="main-light" *ngFor="let i of openFoodFacts.getHistamineIngredients()">{{i.replace('-', ' ')}}</ion-item>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="main-tertiary">
        <ion-label>{{'SETTINGS.custom' | translate}}</ion-label>
      </ion-item>
      <div class="ion-padding c-list" slot="content">
        <ion-list class="c-list">
          <ion-item color="main-light" *ngFor="let c of openFoodFacts.getCustomIngredients()">{{c}}
            <ion-button color="danger" slot="end" (click)="showDeleteAlert(c)">
              <ion-icon name="trash-outline" color="light"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item color="main-light" class="ion-text-center" lines="none">
            <ion-label>
              <ion-button color="main-button" (click)="toggleModal()">
                <ion-icon name="add-circle-outline" color="light"></ion-icon>
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
<ion-modal [isOpen]="isModalShowing">
  <ng-template>
    <ion-header>
      <ion-toolbar color="main" class="ion-text-center">
        <ion-button class="ion-margin-start" color="main-button" slot="start" (click)="toggleModal()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-title>{{'SETTINGS.modal-title' | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="main-secondary" class="ion-justify-content-center ion-text-center">
      <form [formGroup]="ionicForm" novalidate>
        <ion-item color="main-light">
          <ion-label>Name:</ion-label>
          <ion-input placeholder="{{'SETTINGS.modal-example' | translate}}" required="true" autocorrect="on" clearInput="true" formControlName="name"></ion-input>
        </ion-item>
      </form>
      <div class="c-validation-errors">
        <ng-container *ngFor="let validation of validationMessages.name">
          <div class="c-error-message" *ngIf="ionicForm.get('name').hasError(validation.type) && (ionicForm.get('name').dirty || ionicForm.get('name').touched)">
            - {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-button color="main-button" (click)="addIngredient(this.ionicForm.get('name').value)" type="submit">
        {{'SETTINGS.modal-save' | translate}}
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
