.c-setting-content{
  overflow-y: scroll;
}

.c-list{
  padding-bottom: 5vh;
  background-color: var(--ion-color-main-light);
}

.c-validation-errors{
  margin: 5vh 0;
}

.c-error-message{
  background: var(--ion-color-danger);
  padding: 2vh 0;
  margin: 0 2.5vw;
}
